
.overlay-text {
    position: absolute;
    /* قرار دادن متن در بالای ویدیو */
    color: white;
    /* رنگ متن */
    text-align: center;
    /* مرکز کردن متن */
    z-index: 10;
    /* اطمینان از اینکه متن بالای ویدیو قرار گیرد */
    background-color: rgba(0, 0, 0, 0.5);
    /* پس‌زمینه نیمه‌شفاف */
    padding: 20px;
    /* فاصله داخلی */
    border-radius: 10px;
    /* گوشه‌های گرد */
}

.overlay-text h1 {
    font-size: 3rem;
    /* اندازه بزرگتر برای عنوان */
    color: rgb(255, 123, 0);
    /* رنگ نارنجی */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    /* سایه برای افزایش وضوح */
}

.overlay-text p {
    font-size: 1.5rem;
    /* اندازه بزرگتر برای شعار */
    color: rgb(238, 167, 102);
    /* رنگ نارنجی */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    /* سایه برای افزایش وضوح */
}

